body {
    background-color: antiquewhite;
}

h1 {
    padding-top: 10%;
}

/* Title section */

#title,
.main-title {
    font-family: monospace;
    font-size: 2rem;
    color: rgb(58, 8, 8);
    text-align: center;
}

.main-title,
#navbarContent {
    padding: 0% 12%;
}

.side-img {
    width: 50%;
    border-radius: 55px;
}

/* Result Section */

#results{
    text-align: center;
    color:rgb(58, 8, 8);
    font-family: 'Montserrat';
    font-size: 1rem;
}

/* Result Section ends */

/* Input section */

#input {
    /* text-align: center; */
    padding: 3% 30%;
}


/* Media Query */

@media (max-width: 1770px) {
    #input {
        text-align: center;
    }

    .custom-btn {
        margin-top: 5%;
    }
}